.tit-banner{
  text-align: left;
  margin-left: 5%;
  font-family: 'Courgette', cursive;
}
.banner-prom{
  height: 360px;
  width: 90%!important;
  //transition: .2s;
}
.banner-img{
  width: 100%!important;
  height: 100%!important;
  background-repeat: no-repeat;
  background-attachment: center;
  background-position: center center;
  background-size: contain;
}

  @media(max-width: 768px){
    .banner-prom{
      height: 160px;
      width: 100%!important;
      //transition: .2s;
    }
    .banner-img{
      width: 100%!important;
      height: 100%!important;
      background-repeat: no-repeat;
      background-attachment: center;
      background-position: center center;
      background-size: contain;
    }
  }

.div-cards{
  margin-top: 30px;
} 



 
  

  

  